/* VARIABILI */

:root{
    --blue: #2C3E50;
    --azul: #1ABC9C;
    --lightblue: #3A546D;
}

/* classi x colori */
.bst_bg_var{
    background-color: var(--blue);
}

/* classi padding */
.p_8{
    padding:5.3rem 0;
}

/* classi text-color */
.text_color_dark{
    color: var(--blue);
}

/* classi varianti bottone */

.bg_azul{
    background-color: var(--azul);
    color: white;
}


/* ICONS CIRCLE */
.circle {
    border-radius: 50%;
    border: 0.125rem solid white;
    width: 20px;
    height: 20px;
    padding: 30px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    
}


/* classe x linea subtitle */

.lateral_line{
    width: 165px;
    height: 3px;
    background-color: var(--blue);
    margin: 30px;
}
.lateral_white_line{
    background-color: white;
}

/* border radius */
.rounded_10{
    border-radius: 1.2rem;
}




.header_title{
    font-size: 1.25rem;
}

.hero_image{
    background-color: var(--azul);
}


#section_download{
    background-color: var(--azul);
}

#section_info{
    background-color: var(--lightblue);
}

#site_footer{
    background-color: var(--blue);
}



/* container custom */
.container_small{
    max-width: 330px;
    margin: 0 auto;
}

/* media x container small */

@media(min-width:540px){
    .container_small{
        max-width: 680px;
        margin: 0 auto;
    }
}
@media(min-width:992px){
    .container_small{
        max-width: 983px;
        margin: 0 auto;
    }
}